#
# Global specifications for BlueGene system
#
# BlrtsImage:     BlrtsImage used for creation of all bglblocks.
# LinuxImage:     LinuxImage used for creation of all bglblocks.
# MloaderImage:   MloaderImage used for creation of all bglblocks.
# RamDiskImage:   RamDiskImage used for creation of all bglblocks.
# ChangeNumpsets: Script to reset a created bglblock's Numpsets value.
#                 Will be removed when an API is available for this.
#                 Default value uses half of available I/O nodes.
# NOTE: The bgl_serial value is set at configuration time using the 
#       "--with-bgl-serial=" option. Its default value is "BGL".
#
BlrtsImage=/bgl/BlueLight/ppcfloor/bglsys/bin/rts_hw.rts
LinuxImage=/bgl/BlueLight/ppcfloor/bglsys/bin/zImage.elf
MloaderImage=/bgl/BlueLight/ppcfloor/bglsys/bin/mmcs-mloader.rts
RamDiskImage=/bgl/BlueLight/ppcfloor/bglsys/bin/ramdisk.elf
Numpsets=8

#
# Define the static partitions (bglblocks)
#
# Nodes: The base partitions (midplanes) in the bglblock using XYZ coordinates
# Type:  Connection type "mesh" or "torus", default is "torus"
# Use:   Node use "virtual" or "coprocessor", by default both are created
# 
# NOTE: A bglblock is implicitly created containing all resources on the system

# volume = 1x1x1 = 1
Nodes=bgl[000x000]
Nodes=bgl[001x001]
Nodes=bgl[010x010]
Nodes=bgl[011x011]

# volume = 1x1x2 = 2
Nodes=bgl[020x021]
Nodes=bgl[030x031]
Nodes=bgl[002x003]
Nodes=bgl[012x013]
Nodes=bgl[022x023]
Nodes=bgl[032x033]

# volume 1x2x2 = 4
Nodes=bgl[100x111]
Nodes=bgl[120x131]
Nodes=bgl[102x113]
Nodes=bgl[122x133]
 
# volume = 2x2x2 = 8
Nodes=bgl[200x311]
Nodes=bgl[220x331]
Nodes=bgl[220x331]
Nodes=bgl[202x313]
Nodes=bgl[222x333]

# volume = 4x4x4 = 64
Nodes=bgl[400x733]

# volume = 8x4x4 = 128
# Nodes=bgl[000x733]   Implicitly created 
