body { 
  background-color: #000000;
  font-family: arial, verdana, helvetica, sans-serif;
}
h1 { font-size: 150% }
h2 { font-size: 130% }
h3 { font-size: 115% }
p  { font-size: 100% }

pre {
  width: 90%;
  margin: 0 0 15px 20px;
  padding: 15px;
  border: 1px solid gray;
  background-color: #ddd;
  font-family: monospace;
  white-space: pre;
  overflow: auto;
}

/* "container" wraps the entire web page */
#container {
  width: 95%;
  margin: 10px auto;
  background-color: #fff;
  color: #333;
  border: 0px solid gray;
  line-height: 130%;
}

#banner {
  /*
   * In IE6, the "banner" div is a little taller than the slurm_banner.jpg
   * (who knows why...) and if the background-color was #000000, a line of
   * black would appear under the banner.
   */
  background-color: #FFFFFF;
  /*background-color: #000000;*/
  background-image: url(slurm_banner_filler.jpg);
  background-repeat: repeat-x;
  /*border-bottom: 1px solid gray;*/
}
#banner_right_img {
  position: absolute;
  right: 5%;
  z-index: 1;
}

#navigation {
  float: left;
  margin-left: 20px;
  width: 160px;
  overflow: auto;
}

/* The main info of the page is wrapped in a "content" div */
#content {
  margin-left: 200px;
  border-left: 1px solid gray;
  padding: 1em;
  /*max-width: 36em;*/
}
#content h1 { text-align: center; }
#content dt { font-weight: bold; } /* normal, bold, 900 */

#footer {
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid gray;
  text-align: center;
}

div.figure {
  /*float: right;*/
  margin: 0 0 15px 20px;
  padding: 15px;
  /*border: 1px solid gray;*/
  text-align: center;
  font-style: italic;
  overflow: auto;
}

div.terminal {
  width: 90%;
  margin: 0 0 15px 20px;
  padding: 15px;
  border: 1px solid gray;
  background-color: #ddd;
  font-family: monospace;
  white-space: pre;
  overflow: auto;
}

/* When printing, eliminate the nagivation column on the left,
 * and make the content section fill the width of the page.
 */
@media print {
  #navigation { display: none }
  #content { margin-left: 0px; border-left: 0px solid gray; }
  }
}
