*.o
*.la
*.lo
.*.swp
.*.swo
.deps
.libs
Makefile
autom4te.cache
/api/full_version.map
/config.h
/config.h.in~
/config.log
/config.status
/contribs/cray/opt_modulefiles_slurm
/contribs/cray/slurmconfgen.py
/contribs/perlapi/libslurm/perl/Makefile.PL
/contribs/perlapi/libslurmdb/perl/Makefile.PL
/doc/html/*.html
!/doc/html/review_release.html
/etc/cgroup.release_common.example
/etc/init.d.slurm
/etc/init.d.slurmdbd
/etc/slurmctld.service
/etc/slurmd.service
/etc/slurmdbd.service
/libtool
/slurm/slurm_version.h
/slurm/stamp-h2
/src/api/pmi_version.map
/src/api/version.map
/src/common/global_defaults.c
/src/db_api/version.map
/src/plugins/checkpoint/blcr/cr_checkpoint.sh
/src/plugins/checkpoint/blcr/cr_restart.sh
/stamp-h1
/src/sacct/sacct
/src/sacctmgr/sacctmgr
/src/salloc/salloc
/src/sattach/sattach
/src/sbatch/sbatch
/src/sbcast/sbcast
/src/scancel/scancel
/src/scontrol/scontrol
/src/sdiag/sdiag
/src/sinfo/sinfo
/src/slurmctld/slurmctld
/src/slurmd/slurmd/slurmd
/src/slurmd/slurmstepd/slurmstepd
/src/slurmdbd/slurmdbd
/src/smap/smap
/src/sprio/sprio
/src/squeue/squeue
/src/sreport/sreport
/src/srun/srun
/src/sshare/sshare
/src/sstat/sstat
/src/strigger/strigger
/src/sview/sview
/testsuite/expect/globals.*
/testsuite/expect/*.log*
TAGS
