###############################################################################
# Global specifications for BlueGene system
#
# BlrtsImage:     BlrtsImage used for creation of all bglblocks.
# LinuxImage:     LinuxImage used for creation of all bglblocks.
# MloaderImage:   MloaderImage used for creation of all bglblocks.
# RamDiskImage:   RamDiskImage used for creation of all bglblocks.
# Numpsets:       The Numpsets used for creation of all bglblocks 
#                 equals this value multiplied by the number of 
#                 base partitions in the bglblock.
#
# BridgeAPILogFile : Pathname of file in which to write the BGL 
#                    Bridge API logs.
# BridgeAPIVerbose:  How verbose the BGL Bridge API logs should be
#                    0: Log only error and warning messages
#                    1: Log level 0 and information messasges
#                    2: Log level 1 and basic debug messages
#                    3: Log level 2 and more debug message
#                    4: Log all messages
# 
# NOTE: The bgl_serial value is set at configuration time using the 
#       "--with-bgl-serial=" option. Its default value is "BGL".
###############################################################################
BlrtsImage=/bgl/BlueLight/ppcfloor/bglsys/bin/rts_hw.rts
LinuxImage=/bgl/BlueLight/ppcfloor/bglsys/bin/zImage.elf
MloaderImage=/bgl/BlueLight/ppcfloor/bglsys/bin/mmcs-mloader.rts
RamDiskImage=/bgl/BlueLight/ppcfloor/bglsys/bin/ramdisk.elf
Numpsets=8

BridgeAPILogFile=/var/log/slurm/bridgeapi.log
BridgeAPIVerbose=0

###############################################################################
# Define the static partitions (bglblocks)
#
# Nodes: The base partitions (midplanes) in the bglblock using XYZ coordinates
# Type:  Connection type "MESH" or "TORUS", default is "TORUS"
# 
# IMPORTANT NOTES: 
# * A bglblock is implicitly created containing all resources on the system
# * Bglblocks must not overlap (except for implicitly created bglblock)
#   This will be the case when smap is used to create a configuration file
# * All Nodes defined here must also be defined in the slurm.conf file
###############################################################################
# LEAVE NEXT LINE AS A COMMENT, Full-system bglblock, implicitly created
# Nodes=bgl[000x333] Type=TORUS   # 4x4x4 = 64 midplanes
###############################################################################
# smap bglblock layout here:
Nodes=bgl[000x133] Type=TORUS     # 2x4x4 = 32
Nodes=bgl[200x233] Type=TORUS     # 1x4x4 = 16
Nodes=bgl[300x313] Type=TORUS     # 1x2x4 =  8
Nodes=bgl[320x323] Type=TORUS     # 1x1x4 =  4
Nodes=bgl[330x331] Type=TORUS     # 1x1x2 =  2
Nodes=bgl[332x332] Type=TORUS     # 1x1x1 =  1
Nodes=bgl[333x333] Type=TORUS     # 1x1x1 =  1
