# Slurm Source Directory (contains configure.ac and the src directory)
SlurmSourceDir=/usr/local/src/slurm

# Slurm Build Directory (where you ran configure and make from)
SlurmBuildDir=/usr/local/src/slurm/build

# Slurm Installation Directory (value of --prefix configure option)
SlurmInstallDir=/opt/slurm

# Slurm Configuration Directory (compiled-in location of slurm.conf)
SlurmConfigDir=/opt/slurm/etc
