html {
  min-height:100%;
}

body {
  margin-top:20px;
  padding:0px;
  background-color: #FFFFFF;
  font-family: Arial, Verdana, Helvetica, Sans-serif;
  text-align:center;
}

h1 { font-size: 150%; font-weight:bold; text-align:left; color: #066cb2; }
h2 { font-size: 105%; font-weight:bold; text-align:left; color: #066cb2; }
h3 { font-size: 100%; font-weight:bold; text-align:left; color: #066cb2; }
p  { font-size: 90%; }
p ul  { font-size: 90%; }
ul {font-size: 90%;}
ol {font-size: 90%;}
ul ul { font-size: 100%; }
li li { font-size: 100%; }
pre {font-size: 90%; font-family:"Courier New", Courier, monospace}

#slurmh2 { font-size: 105%; font-weight:bold; text-align:left;
	   padding-left: 5px; color: #066cb2; margin-bottom: -10px; }

#slurmtd {
    border:1px;
    border-color:#066cb2;
    border-style:solid;
    padding:10px;
    display:table-cell;
}
#slurmtable {
    margin-left: auto;
    margin-right: auto;
    border:1px;
    border-color:#066cb2;
    border-style:solid;
    display:table;
}
/* container wraps the entire web page; the margin left and */
/* right and text align tags are needed for rendering in IE */
#container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 800px;
  padding:10px;
  border:2px;
  border-color:#066cb2;
  border-style:solid;
  background-color: #FFFFFF;
  line-height:130%;
  display:table;
  min-height:770px;
  height:auto;
  height:685px;
}

#row {
    display: table-row;
}

IMG.displayed {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:0px;
}

/* The left-hand navigation links */
#navigation {
  float: left;
  text-align:left;
  width: 175px;
  overflow: auto;
  background-color: #d2cf82;
  border:2px;
  border-color:#066cb2;
  border-style:solid;
  display:table-cell;
}

/* The main text of the page */
#content {
  float: right;
  width: 605px;
  display:table-cell;
}

#content h1 { margin: 0 0 .5em 0;
}

.bold {
 font-weight:bold;
}

.command {
  font-family:"Courier New", Courier, monospace;
  font-size:90%;
}

.pnav {
  font-size: 95%;
  font-weight: bold;
  color: #066cb2;
}

#footer #left {
  clear: both;
  float:left;
  margin: 0;
  background-color: #066cb2;
  width:400px;
  text-align: left;
  height: 22px;
  display: table-cell;
}

#footer #right {
  margin: 0;
  float:left;
  width:400px;
  background-color: #066cb2;
  text-align: right;
  height: 22px;
  display: table-cell;
}

#footer2 #left2 {
  clear: both;
  float: left;
  padding-top:3px;
  background-color: #FFFFFF;
  width: 266px;
  text-align: left;
  line-height:0.9em;
}

#footer2 #center2 {
  float: left;
  padding-top: 3px;
  width: 268px;
  background-color: #FFFFFF;
  text-align: center;
  line-height:0.9em;
}

#footer2 #right2 {
  float: right;
  width: 266px;
  background-color: #FFFFFF;
  text-align: center;
  line-height:0.9em;
}

#figure {
  float: right;
  width: 300px;
  padding: 0px 5px 0px 10px;
}

#version {
  text-align: center;
  font-size: 150%;
  font-weight:bold;
  color: #066cb2;
}

.figcaption {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  text-align: left;
  line-height:100%;
  font-size: 70%;
  font-weight: bold;
  padding-top: 10px;
  color: #066cb2
}

.boldsubnav {
  font-family:Arial, Verdana, Helvetica, sans-serif;
  font-size:80%;
  font-weight:bold;
}

.ucrlnum {
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 70%;
   color: #FFFFFF
}

.smalltextblue {
  font-size: 70%;
  line-height:1;
  color: #066cb2;
}

a:link {
  color: #066cb2;
  text-decoration: underline
}

a:visited {
  color: #3366CC;
  text-decoration: underline
}

a:hover {
 color: #B0BDD0;
 text-decoration: none
}

a:active {
 color: #066cb2;
 text-decoration: underline
}

a.nav:link {
  font-size: 95%;
  color: #066cb2;
  font-weight: bold;
  text-decoration: none;
}

a.nav:visited {
  font-size: 95%;
  color: #066cb2;
  font-weight: bold;
  text-decoration: none;
}
a.nav:hover {
  font-size: 95%;
  color: #B0BDD0;
  font-weight: bold;
  text-decoration: none;
}
a.nav:active {
  font-size: 95%;
  color: #066cb2;
  font-weight: bold;
  text-decoration: none;
}

a.footer:link {
  font-size: 70%;
  color: #066cb2;
  text-decoration: none;
}

a.footer:visited {
  font-size: 70%;
  color: #066cb2;
  text-decoration: none;
}

a.footer:hover {
  font-size: 70%;
  color: #066cb2;
  text-decoration: underline;
}

a.footer:active {
  font-size: 70%;
  color: #066cb2;
  text-decoration: none;
}

a.privacy:link {
  font-size: 70%;
  color: #FFCC33;
  text-decoration: none;
}

a.privacy:visited {
  font-size: 70%;
  color: #FFCC33;
  text-decoration: none;
}

a.privacy:hover {
  font-size: 70%;
  color: #FFCC33;
  text-decoration: underline;
}

a.privacy:active {
  font-size: 70%;
  color: #FFCC33;
  text-decoration: none;
}

div.terminal {
  width: 90%;
  margin: 0 0 15px 20px;
  padding: 15px;
  border: 1px solid gray;
  background-color: #ddd;
  font-family: monospace;
  white-space: pre;
  overflow: auto;
}

/* When printing, eliminate the nagivation column on the left,
 * and make the content section fill the width of the page.
 */
@media print {
  #navigation { display: none }
  #content { margin-left: 0px; border-left: 0px solid gray; }
  }
