h2 {  font-family: Arial, Verdana, sans-serif; font-size: 16px; font-weight: bold; color: #6699CC;  text-align: center; }
h3 {  font-family: Arial, Verdana, sans-serif; font-size: 14px; font-weight: bold; color: #6699CC}
h4 {  font-family: Arial, Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #6699CC}
p,ol,ul,li,td {  font-family: Arial, Verdana, sans-serif; font-size: 12px; color: #000000}
pre {  font-family: "Courier New", Courier, mono; font-size: 12px; color: #000000}
.whitetext {  font-family: Arial, Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF}
.footer {  font-family: Arial, Verdana, sans-serif; font-size: 10px; color: #000000}
a:link {  font-family: Arial, Verdana, sans-serif; color: #6699CC; text-decoration: underline}
a:visited {  font-family: Arial, Verdana, sans-serif; color: #6699CC; text-decoration: underline}
a:active { font-family: Arial, Helvetica, sans-serif; color: #6699CC; text-decoration: none }
a:hover {  font-family: Arial, Verdana, sans-serif; color: #6699CC; text-decoration: none}
a.nav:link {  font-family: Arial, Verdana, sans-serif; color: #6699CC; font-weight: bold; text-decoration: none}
a.nav:visited {  font-family: Arial, Verdana, sans-serif; color: #6699CC; font-weight: bold; text-decoration: none}
a.nav:active { font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #6699CC; text-decoration: none }
a.nav:hover {  font-family: Arial, Verdana, sans-serif; color: #6699CC; font-weight: bold; text-decoration: underline}.commandline {
	font-family: "Courier New", Courier, mono;
}
