###
#
# Slurm cgroup support configuration file
#
###

#--
# Slurm cgroup plugins require a valid and functional 
# cgroup system mounted on /dev/cgroup
# When launched, plugins check cgroup availability
# If cgroup is not available, the plugin launch fails
# unless CgroupAutomount is set to yes. In that case,
# the plugin will first try to mount the cgroup system.
#
# CgroupSubsystems specifies the list of subsystems to
# be mounted by the task/cgroup plugin if 
# TaskPlugin=task/cgroup is configured in slurm.conf.
# Currently, only the cpuset subsystem is supported.
#
# CgroupReleaseAgent can be used to tune the cgroup
# system behavior
#
# See man slurm.conf and man cgroup.conf for further
# information on cgroup configuration parameters
#--
CgroupAutomount=yes
CgroupSubsystems="cpuset"
CgroupReleaseAgent="/etc/slurm/cgroup"

#--
# Slurm cgroup proctrack plugin creates a hierarchical set of
# directories for each step, putting the step tasks into the leaf
#
# This directory structure is like the following : 
#     /dev/cgroup/slurm/freezer/uid_%uid/job_%jobid/step_%stepid
#
#--
# Slurm cgroup task plugin creates a hierarchical set of
# directories for each task
#
# This directory structure is like the following : 
#     /dev/cgroup/slurm/freezer/uid_%uid/job_%jobid/step_%stepid/task_task%id
#
